<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.subtitletool">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true">

        <activity
            android:name=".init.InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />

        <service
            android:name=".services.AudioCaptureService"
            android:foregroundServiceType="mediaProjection" />
        <service
            android:name=".services.SubtitleService" />

        <!-- STT 必须要在这里定义，name不能改，STT的库会调用这里的信息 -->
        <meta-data
            android:name="com.baidu.speech.APP_ID"
            android:value="23861843"/>
        <meta-data
            android:name="com.baidu.speech.API_KEY"
            android:value="D3nC11vOUxWW3azo9o3znO8h"/>
        <meta-data
            android:name="com.baidu.speech.SECRET_KEY"
            android:value="l1z1zrxebAuHdlbPennGEpp7EnjSBruU"/>
    </application>
</manifest>